body{
    background-color:rgb(212, 204, 192);
}


.nav-link:hover{
    background-color: brown; 
    color: white !important;   
}

hr{
    color: rgb(39, 26, 26);
    padding: 5px;
    margin: 15px;
}

.title{
    color: #ea565c;
}

#search-title{
    display: none;
}
.search-btn{
    background-color: crimson;
    color: aliceblue;
}

#spinner{
    display: none;
}

#error-for-write-anything{
    display: none;
    font-weight: 900;
    font-size: larger;
    color: red;
}
.card, .for-add{
    background-color: #3f3d56;
}

.card-title, .ingredients-title{
    color: #f6c964;
    font-weight: 900;
}

.card-text{
    color: white;
    font-weight: 700;
}

.card-ingredients{
    color: #6c63ff;
}

.random-style{
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}